@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(rgba(176, 104, 233, 1), rgba(100, 99, 231, 1));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* accordion div */

.accordion-div {
    margin-top: 148px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 23px;
    width: 279;
    padding: 0px 24px 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

/* accordion image */

.bg-mobile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-mobile {
    width: 237;
    height: 180px;
    margin-top: -108px;
}

.bg-shadow-mobile {
    /* width: 240px;
    height: 145px; */
    margin-top: -70px;
}

@media screen and (max-width: 1439px) {
    .bg-desktop-div {
        display: none;
    }
}


/* accordion items div */

.accordion-items-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.accordion-items-div h1 {
    color: rgba(30, 31, 54, 1);
    width: 32px;
    font-weight: 700;
    line-height: 39.69px;
}

/* accordion item */

.accordion-item {
    border-bottom: solid 1px rgba(232, 232, 234, 1);
}

/* accordion header */

.accordion-header {
    width: 279px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 18px 0px;
    cursor: pointer;
    /* border-bottom: 1px solid rgba(232, 232, 234, 1); */
}

.accordion-header.open {
    padding-bottom: 5px;
}

.accordion-header.bottom {
    border-bottom: 1px solid rgba(232, 232, 234, 1);
}

.header-title {
    color: rgba(75, 76, 95, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 16.12px;
}

.header-title.bold {
    font-weight: bold;
}

.acc-img {
    transform: rotate(180deg);
}

.accordion-description {
    display: none;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(232, 232, 234, 1);
}

.accordion-description.active {
    display: block;
}

.accordion-description p {
    width: 279px;
    color: rgba(120, 120, 135, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}



